<header class="headeris">
  <h1 class="title ">Dragons</h1>
  <button class="btn-header btn-primary" (click)="NewDragon()">
    new Dragon
  </button>
</header>
<div class="contenid">
  <div
    class="body-card  "
    *ngFor="let dragon of this.dragons"
  >
    <img [src]="dragon?.img" class="card-image" />
    <div class="titleAndDescription">
      <h3 class="title-card ">{{ dragon?.title }}</h3>
      <p class="texting">{{ dragon?.description }}</p>
    </div>
    <button (click)="editDragon(dragon?.id)" class="btn-card btn-secondary ">
      Editar
    </button>
    <button (click)="detailDragon(dragon?.id)" class="btn-card btn-warning">
      Detalle
    </button>
    <button (click)="deleteDragon(dragon?.id)" class="btn-card btn-danger ">
      Eliminar
    </button>
  </div>
</div>
