<div class="container w-50 bg-danger p-2">
  <button class="btn btn-primary ms-5 mt-2 mb-2" (click)="NewDragon()">
    new Dragon
  </button>
  <div
    class="card-body w-100 text-center bg-primary mt-2 p-2"
    *ngFor="let dragon of this.dragons"
  >
    <img [src]="dragon?.img" class="card-image mx-auto w-100" />
    <h3 class="card-title text-light">{{ dragon?.title }}</h3>
    <p class="text text-light">{{ dragon?.description }}</p>
    <button (click)="editDragon(dragon?.id)" class="btn btn-secondary m-2">
      Editar
    </button>
    <button (click)="detailDragon(dragon?.id)" class="btn btn-warning">
      Detalle
    </button>
    <button (click)="deleteDragon(dragon?.id)" class="btn btn-danger m-2">
      Eliminar
    </button>
  </div>
</div>
