*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: rgb(22, 22, 22);
    text-align: center;
}
header{
    background: #0a0a0a;
    height: 150px;
}

.container__header{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100px;
    margin-top: -30px;
}
.menu{
    width: 60%;
}
.menu nav ul{
    width: 100%;
}
.menu nav ul li{
    display: inline-block;
    padding: 20px;
    width: 18%;
}
.menu nav ul li a{
    display: flex;
    font-size: 16px;
    text-decoration: none;
    color:red;
    transition: opacity 200ms;
}
.menu nav ul li a:hover{
    opacity: 0.6;
}
.btn__header-register{
    padding: 14px 50px;
    border: none;
    background: #ff3c00;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
    transition: background, color,300ms;
}
.btn__header-register:hover{
    background: #ff0000;
    color: #c97171;
}
#icon_menu{
    display: none;
    width: 50px;
}

/*portada -cover*/

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
    background: #0a0a0a;
}
.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.text__information-cover{
    width: 48%;
}
.text__information-cover h1{
    font-size: 50px;
}
.text__information-cover p{
    font-size: 18px;
}

.buttons__cover{
    display:flex;
    margin-top: 40px;
}
.btn__register-cover{
    padding: 14px 40px;
    border: none;
    color :beige;
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
    background-color: #ff3c00;
    transition: background 300ms;
    cursor: pointer;
}
.btn__register-cover:hover{
    background: #ff0000;
}
.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color :beige;
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
    background-color: #ff3c00;
    cursor: pointer;
    transition:background 300ms;
}

.btn__readMore-cover:hover{
    background: #ff0000;
}
.media__cover{
    width: 50%;
}
.media__cover img{
    width: 100%;
    margin-top: 50px;
}

/*Banner*/

.container__banner{
    margin-top: 80px;
}
.banner{
    height: 250px;
    display: flex;
    background-color: #121214;
}
.banner__icon-heart{
    width: 35%;
    height: 100%;
}
#icon_heart{
    width: 100%;
    height: 100%;
    position:relative;
    filter:drop-shadow(-40px 0px 30px rgba(117, 0, 0, 0.5))
}
.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
}
.bannr__text h2{
    color: #fc9208;
    font-size: 32px;
    font-weight: 50px;
}
.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 16px;
    font-weight: bold;
    transition: color 300ms;
}
.banner__text a:hover{
    color:#ff3c00;
}
.banner__icon-fire{
    height: 100%;
    position:absolute;
    right: 19%;
    overflow:hidden;
}
#icon_fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.5;
}

@media (max-width: 1024px) {
    .container__header, main{
        padding: 20px; 
    }
    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
        right: 20px;
    }
    .header__register{
        display: none;
    }
    .menu{
        height: 0%;
        position: absolute;
        right: -350px;
        top: 100px;
        box-shadow: 0px 0px 30px -20px rgba(117, 0, 0, 0.5);
    }
    .menu nav ul{
        width: 30%;
        padding: 20px 0px;
        flex-direction: column;
        background: #121214;
        right: 20px;
        transition: all 300ms;
    }
    .menu nav ul li{
        padding:10px 40px;
        display: block;
        text-decoration: none;
    }
    
    .mostrar_menu{/*Clase manipulada por js*/
        height: 235px;
    }

}